{% extends 'base.html' %}

{% block content %}
<h2>{% block title %} {% if query == '' %} Showing all properties 
{% else %}Searching property {{ query }}
{% endif %}
{% endblock %}</h2>
<h3>Showing {{ start }}  - {{ end }} of {{ count }} properties</h3>
<ul class="property-search">
{% for p in properties %}
  <li><a href="/property/{{ p['_id']['$oid'] }}">
    <img src="{{ p['property_photo'] }}" />
    <span class="address">{{ p['property_address'] }}</span>
    <span class="price">{{ p['property_cost'] }}</span>
</a></li>
{% endfor %}
</ul>

{{ pagination.links }}
{% endblock %}
